In [1]:
import pandas as pd
import cudf as gd
import os
import numpy as np

from time import time
os.environ['CUDA_VISIBLE_DEVICES'] = "2"

In [45]:
df = pd.read_pickle('/datasets/trivago/data/data_pair_full.pkl')

In [47]:
df.shape

(48499961, 204)

In [48]:
num_files = 100
num_rows = int(df.shape[0]/num_files) + 1

In [2]:
sub_folder = "/datasets/trivago/data/data_pair_full_sub"
if not os.path.exists(sub_folder):
    os.mkdir(sub_folder)

In [50]:
files = []
for idx in range(0, num_files):
    start = idx * num_rows
    end = start + num_rows
    sub_df = df.iloc[start:end]
    files.append(f"{sub_folder}/sub_{idx}.pkl")
    sub_df.to_pickle(files[-1])

### Shuffle rows in pandas

In [54]:
df = pd.DataFrame({'A':range(10), 'B':range(10)})
df.head()

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

In [55]:
df.head()

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

In [56]:
gdf = gd.from_pandas(df)
gdf = gdf.reindex(np.random.permutation(df.index))
gdf.head().to_pandas()

   A  B
4  4  4
5  5  5
2  2  2
6  6  6
7  7  7

In [7]:
%%time
pd_times = []
for i, file in enumerate(files):
    start = time()
    df = pd.read_pickle(file)
    start2 = time()
    df.reindex(np.random.permutation(df.index)).to_parquet(f"{sub_folder}/sub_{i}_pd.parquet")
    print(f"reindex {time()-start}")
    break
    pd_times.append(time()-start)

reindex 3.7114644050598145
CPU times: user 3.51 s, sys: 476 ms, total: 3.99 s
Wall time: 3.71 s

In [9]:
%%time
gd_times = []
for i, file in enumerate(files):
    start = time()
    df = pd.read_pickle(file)
    gdf = gd.from_pandas(df)
    print(f'conversion: {time()-start}')
    start = time()
    gdf.reindex(index=np.random.permutation(df.index)).to_parquet(f"{sub_folder}/sub_{i}_gd.parquet")
    print(f'reindex: {time()-start}')
    gd_times.append(time()-start)
    break

conversion: 1.69687819480896

/opt/conda/envs/rapids/lib/python3.7/site-packages/cudf/io/parquet.py:68: UserWarning: Using CPU via PyArrow to write Parquet dataset, this will be GPU accelerated in the future
  "Using CPU via PyArrow to write Parquet dataset, this will "

reindex: 14.072330236434937
CPU times: user 5.63 s, sys: 2.34 s, total: 7.97 s
Wall time: 15.8 s

In [10]:
! pwd

/rapids/notebooks/wenbo/RecSys2019/testShuffleTime